/* .body {
  margin: auto;
  height: 949px;
  width: 700px;
} */

.container {
  display: flex;
  flex-flow: row;
  margin: 100px auto;
  padding: 0;
  width: 839.68px;
  height: 500px;
}

.game {
  background-image: url(mainback.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
  height: 500px;
  margin: 0;
  padding: 0;
  position: relative;
}

.game .cells {
  background-image: url(back.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  margin: 50px 5px;
  /* padding: 10px 0px; */
  height: 400px;
  width: 96%;
}

.cells button {
  width: 100px;
  height: 100px;
  padding: auto;
  margin: 18px 17px 18px 17px;
  background: none;
  border: none;
  outline: none;
  /* background-color: red; */
  border-radius: 10px;
  position: relative;
}

#td1,
#td2,
#td3 {
  margin: 22px 17px 14px 17px;
}

#td7,
#td8,
#td9 {
  margin: 13px 17px 23px 17px;
}

.cells img {
  margin: 0 0 0 2px;
  width: 90px;
  height: 90px;
  position: absolute;
  top: 4.5px;
  left: 3px;
}

.info {
  background-image: url(mainback.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
  height: 500px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column;
}

.info .button {
  margin: 20px auto;
}

.info #button {
  background-color: rgb(214, 166, 32);
  outline: none;
  border-radius: 10px;
  font-size: 1.2em;
  width: 150px;
  height: 40px;
}

.info .players {
  margin: 10px auto;
  height: 200px;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.info p {
  padding: 10px;
  padding-left: 30px;
  display: inline-block;
  margin: 10px;
  font-size: 2.5em;
}

.info span {
  padding: 10px;
  padding-left: 30px;
  display: inline-block;
  margin: 10px;
  font-size: 2.5em;
  color: rgb(124, 122, 122);
}

.span {
  color: rgb(124, 122, 122);
}

.info span img {
  width: 20px;
  height: 20px;
}

.span:hover {
  background-image: url(arrow.png);
  background-size: 30px;
  background-position: left;
  background-repeat: no-repeat;
  color: black;
}

/* 
.playing {
  padding: 10px;
  display: block;
  margin: 10px;
  font-size: 2.5em;
  text-shadow: black 1px 1px;
  color: black;
} */

.active {
  background-image: url(arrow.png);
  background-size: 30px;
  background-position: left;
  background-repeat: no-repeat;
  text-shadow: black 2px 1px;
  color: black;
}

.winner {
  padding: 10px;
  display: block;
  margin: 10px auto;
  font-size: 2.5em;
  text-shadow: rgb(120, 173, 41);
  color: rgb(120, 173, 41);
}

.keep {
  display: none;
}
